<ion-view title="New User" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="newUser-form2" class="list">
            <ion-list id="newUser-list2">
                <label class="item item-input" id="newUser-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="newUser-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="newUser-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="newUser-button3" class="button button-stable  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>