<ion-view title="Categories" id="page10">
    <ion-content padding="true" class="has-header">
        <ion-list id="categories-list8">
            <ion-item class="dark" id="categories-list-item10" href="#" onclick="window.open('https://www.meetup.com/find/events/food-drink/?allMeetups=false&amp;radius=50&amp;userFreeform=Wilmington%2C+DE&amp;mcId=z19801&amp;mcName=Wilmington%2C+DE&amp;eventFilter=mysugg', '_system', 'location=yes'); return false;">Food &amp; Drink</ion-item>
            <ion-item id="categories-list-item12" href="#" onclick="window.open('https://www.meetup.com/find/events/sports-recreation/?allMeetups=false&amp;radius=25&amp;userFreeform=Wilmington%2C+DE&amp;mcId=z19801&amp;mcName=Wilmington%2C+DE&amp;eventFilter=mysugg', '_system', 'location=yes'); return false;"
           >Sports &amp; Recreation</ion-item>
            <ion-item id="categories-list-item16" href="#" onclick="window.open('https://www.meetup.com/find/events/dancing/?allMeetups=false&amp;radius=25&amp;userFreeform=Wilmington%2C+DE&amp;mcId=z19801&amp;mcName=Wilmington%2C+DE&amp;eventFilter=mysugg', '_system', 'location=yes'); return false;"
           >Dancing</ion-item>
            <ion-item id="categories-list-item13" href="#" onclick="window.open('https://www.meetup.com/DelawareYoungProfessionals/', '_system', 'location=yes'); return false;">Career &amp; Business</ion-item>
        </ion-list>
        <ion-list id="categories-list9">
            <ion-item id="categories-list-item19" href="#" onclick="window.open('https://www.meetup.com/find/events/singles/?allMeetups=false&amp;radius=25&amp;userFreeform=Wilmington%2C+DE&amp;mcId=z19801&amp;mcName=Wilmington%2C+DE&amp;eventFilter=mysugg', '_system', 'location=yes'); return false;"
           >Singles</ion-item>
            <ion-item id="categories-list-item22">Outdoors &amp; Adventure</ion-item>
            <ion-item id="categories-list-item14">Community Enviroment</ion-item>
            <ion-item id="categories-list-item23">Entertainment</ion-item>
        </ion-list>
    </ion-content>
</ion-view>