<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <h1 id="home-heading1" style="color:#000000;">Featured Events</h1>
        <ion-list id="home-list10">
            <ion-item class="item-thumbnail-left" id="home-list-item5">
                <img src="img/arcRxGuUSzKdtXEJ5sgP_global_4507911161.jpeg">
                <h2>Event 1</h2>
            </ion-item>
        </ion-list>
        <button id="home-button8" style="font-weight:300;font-size:-9px;" class="button button-balanced  button-block">I'm in!</button>
        <ion-list id="home-list4">
            <ion-item class="item-thumbnail-left" id="home-list-item6">
                <img src="img/yAebt2ZTSLiTSgprO90M_600_107459742.jpeg">
                <h2>Event 2</h2>
            </ion-item>
        </ion-list>
        <button id="home-button9" class="button button-balanced  button-block">I'm in!</button>
        <ion-list id="home-list11">
            <ion-item class="item-thumbnail-left" id="home-list-item7">
                <img src="img/BlRhLlCTSzqJWRM2dac9_cover_sexysalsa.jpg">
                <h2>Event 3</h2>
            </ion-item>
        </ion-list>
        <button id="home-button10" class="button button-balanced  button-block">I'm in!</button>
    </ion-content>
</ion-view>