<ion-view title="Map" id="page8">
    <ion-content padding="true" class="has-header">
        <creator-map-component options="{}" marker="true"
        '="" location="Wilmington, DE" zoom="10" style="display:block;position:relative;margin-left:-10px;width:calc(100% + 20px);height:450px;"><ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options"><ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker></ui-gmap-google-map></creator-map-component></ion-content></ion-view>