<ion-view title="New User" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="newUser-form2" class="list">
            <ion-list id="newUser-list2">
                <label class="item item-input" id="newUser-input3">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" id="newUser-input4">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" id="newUser-input10">
                    <input type="text" placeholder="Password">
                </label>
            </ion-list>
            <label class="item item-input" id="newUser-input8">
                <input type="text" placeholder="Age">
            </label>
            <label class="item item-input" id="newUser-input9">
                <input type="text" placeholder="Gender">
            </label>
            <button id="newUser-button3" class="button button-positive  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>