<ion-view title="Store" id="page3">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="store-card22">
            <ion-item id="store-list-item32">Firestone</ion-item>
            <div class=" item item-image">
                <img src="img/nBAPsxGYRAStC2sdDmOa_29_firestone-pizza-station.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item id="store-list-item36">Free Appetizer!
                <span class="item-note">100 Points</span>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 184.997px;"></div>
            <ion-item id="store-list-item37">Available Points:
                <span class="item-note">250</span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>